<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="../static/styles/lib.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/local.css">
    
 <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='../static/styles/lib.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='../static/styles/local.css') }}">
     
    linking a javascript file 
    <script type="text/javascript" src="{{ url_for('static', filename='../static/localjs/script.js') }}"></script>
    <img src="{{ url_for('static', filename='img/my_img.png') }}"> 
<script src="../../../../JS Utils/less.js/less-less.js-162327a/dist/less.js"></script>-->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    

    <title>Document</title>
</head>

<body>
    <div class="page-lg pfont bg-pri-1">
        <div class="head">

            <div class="head-lg bg-nav-1">
                <h1>Header</h1>
                <!--
            -->
                <div class="search-1">
                    <input type="search" placeholder="Search Site">
                    <button type="submit">GO</button>
                </div>
                <div class="hmenu-lg bg-nav-1">
                    <a href="">nondrop</a>
                    <div class="h-drop">
                        <a class="h-drop-link">drop</a>
                        <div class="h-sub">
                            <a href="">sublink</a>
                            <a href="">sub2</a>
                        </div>
                    </div>
                    <div class="h-drop">
                        <a class="h-drop-link">drop</a>
                        <div class="h-sub">
                            <a href="">sublink</a>
                            <a href="">sub2</a>
                        </div>
                    </div>
                </div>
            </div>
            <img class="toggle-r" src="../static/images/Arrow-up.png" alt="arrow-up">
        </div>
        <div class="rw style-pri-2">
            <div class="col-16m tx-a-hc">
                <p>---</p>
                <p>Thanks for checking out my profile. Feel free to peruse the various projects I built while attending
                    CodeDojo. Feel free to drop a comment when that functionality becomes available</p>
            </div>
        </div>
        <div class="rw style-pri-1">
            <div class="col-4m tx-sz-sm list-1">
                <h3>List 1 Style</h3>
                <ul>
                    <li>HTML/CSS Projects
                        <ul>
                            <li>Hello World</li>
                            <li>Playing with Blocks</li>
                            <li>More Lines</li>
                            <li><a href=""> This one is a link</a></li>
                            <li><a href="">This one too!</a></li>
                            <li>Responsive Design</li>
                        </ul>
                    </li>
                    <li>CSS library</li>
                </ul>
            </div>
            <!--Note the comments between the Div's handles the natural gap between the divs whose widths are managed by %.
            -->
            <div class="colm-8 tx-a-hc">
                <div id="pager" class="hmenu-sm">

                </div>
                <div class="row tx-a-vc">
                    <div class="col-12m tx-a-vc">
                        <p class="tx-a-vc">more stuff</p>
                    </div>
                </div>
            </div>
            <!--Note the comments between the Div's handles the natural gap between the divs whose widths are managed by %.
            -->
            <div class="colm-4">
                <p>right side stuff</p>
            </div>
        </div>
        <div class="rw style-pri-4">
            <div class="colm-4">
                <p>stuff here</p>
            </div>
            <div class="colm-5 tx-a-vc">
                <p> stuff here</p>
                <div class="rw tx-a-vc">
                    <div class="colm-12 tx-a-vc">
                        <p class="tx-a-vc">more stuff</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="../static/localjs/script.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>